<template>
  <div class="mainview">
    <div v-if="singleView">
      <h1>Single View</h1>
      <member :member="active_member"></member><br>
      <input type="text" placeholder="name" v-model="active_member.name"><br>
      <input type="text" placeholder="point" v-model="active_member.point"><br>
      <input type="text" placeholder="image" v-model="active_member.img"><br>
    </div>
    <div v-else>
      <h1>Member App</h1>
      <member v-for="member in members" :member="member"></member>

      <div v-if="members.length === 0"> 
        <h3>Membernya habis</h3>
        <h3> >> Tambah membernya</h3>
      </div>
    </div>

  </div>
</template>

<script>
import Member from './Member'
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters([
      'active_member',
      'members', 
      'singleView'
    ])
  },
  components: {
    Member
  }
}
</script>

<!-- Menambahkan "scoped" attribute untuk membatasi css ini, hanya berlaku untuk component ini -->
<style scoped>
  .mainview {
    flex: 3;
  }
</style>