<template>
     <div class="members">
      <h3> {{ member.name }} - {{ member.point }} points </h3>
      <img :src="'/static/images/' + member.img" width="200">
      <div v-if="allowRemove" @click.prevent='removeMember(member.id)' class="btn-remove">
          X
      </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
    props: [
        'member', 
        'allowRemove'
    ], 
    methods: {
        ...mapActions([
            'removeMember'
        ])
    }
}
</script>

<style>
    .sidebar img {
        width: 100px;
    }
    
    .sidebar .members {
        position: relative;
        overflow: hidden;
    }

    .btn-remove {
        background: red;
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 50px;
        top: -50px;
        right: 10px;
        position: absolute;
        font-size: 20px;
    }

    .btn-remove:hover {
        cursor: pointer;
    }

    .members:hover > .btn-remove {
        top: 10px;
    }
</style>
