<template>
  <div class="sidebar">
    <h2>Sidebar</h2>
    <member v-for="member in members" :member="member" :allowRemove="true" 
      @click.native.prevent="showMember(member)"
      v-bind:class="{active: member == active_member}"></member>
    <br>
    <div id="action">
      <a href="#" @click.prevent="showMembers()"> Semua Member </a> <br>
      <a href="#" @click.prevent="addMember()"> Tambah Member </a>
    </div>
  </div>
</template>

<script>
import Member from './Member'
import { mapGetters, mapActions } from 'vuex'

export default {
  computed: {
    ...mapGetters([
      'members', 
      'active_member'
    ])
  },
  components: {
    Member
  }, 
  methods: {
    ...mapActions([
      'showMember',
      'showMembers',
      'addMember'
    ])
  }
}
</script>

<!-- Menambahkan "scoped" attribute untuk membatasi css ini, hanya berlaku untuk component ini -->
<style scoped>
  .sidebar {
    flex: 1;
  }

  .active {
    transition: border-right 0.1s ease-in;
    border-right: 10px solid red;
  }

  
</style>
